<section class="hero">
     <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">  
           
          <li class="active"><a href="#mobile"><img src="./assets/images/mobile.png" class="mobile"></a></li>
          <li class="active"><a href="#template1"><img src="./assets/images/desktop.png" class="mobile"></a></li>
          <li><h1 style="
    color: black;
    padding: 0 280px;
">Free Website Template</h1> </li> 
      </ul>
    </nav>
  <div class="menu">
  <ul>
    <li><a ng-click="showAlert1()" href=""><h1>Home</h1></a></li>
    <li><a ng-click="showAlert2()" href=""><h1>Portfolio</h1></a></li>
    <li><a ng-click="showAlert3()" href=""><h1>Team</h1></a></li>
    <li><a ng-click="showAlert4()" href=""><h1>Contact us</h1></a></li>
  </ul>
  <div class="menu-answer">
       <ul>


       <li> <div ng-show="myvalue1" class="ng-cloak"><p>This gateway provides you with information, pictures and videos of mystical destinations spread out across the vast expanse of this beautiful state. A culture and heritage that have thrived since ancient times are available at your fingertips to explore and soak in. </p></div></li>
        <li><div ng-show="myvalue2" class="ng-cloak"><p>Baahubali 2: The Conclusion was premiered at the British Film Institute,[11] and is the inaugural feature film at the 39th Moscow International Film Festival.[12][13] The Conclusion was theatrically released over 9000 screens worldwide on 28 April 2017.[14][1] Baahubali 2 was the first Telugu film to be released in 4K High Definition format. It is estimated that close to 200 screens are being upgraded to 4K projectors before the release date of the movie.[15]
Baahubali 2 released to positive reviews from critics and surpassed the 2014 Hindi film PK, to briefly become the highest grossing Indian film of all time, collecting approximately ₹800 crore (US$120 million) worldwide within just six days of its release.[16] It became the first ever Indian film to gross over ₹1,000 crore (US$160 million) in all languages, doing so in just ten days</p></div></li>
        <li><div ng-show="myvalue3" class="ng-cloak"><p>The One with Strong Arms: The Conclusion), also known by the initialism BB2, is a 2017 Indian historical fiction film directed by S. S. Rajamouli.[6] The film was produced by Tollywood studio Arka Media Works. It is the continuation of Baahubali: The Beginning, taking place before and after the events of that film.[7] It was originally made in Telugu and Tamil and dubbed into Hindi, Malayalam, German, French, Japanese and English.[8] The film stars major actors from Tollywood industry with Prabhas, Anushka Shetty, Rana Daggubati and Sathyaraj in lead roles. Initially, both parts were jointly produced on a budget of ₹250 crore (₹2.5 billion),[9][4] however, the budget of the second part was increased later. Baahubali 2: The Conclusion has made a record of highest pre-release business with ₹500 crore (₹5 billion)</p></div></li>
        <li><div ng-show="myvalue4" class="ng-cloak"><p>Kattappa (Sathyaraj) continues to narrate how he ended up killing Amarendra Baahubali (Prabhas).
After vanquishing the Kalakeyas, Amarendra Baahubali is declared as the future king of Mahishmati and Bhallaladeva (Rana Daggubati) is declared as the commander-in-chief. Before the coronation, Rajamatha Sivagami (Ramya Krishnan) begins to look for a bride for Amarendra. She instructs Amarendra and Kattappa to tour the kingdom to understand its current state and its people.
Amarendra falls in love with Devasena (Anushka Shetty), a princess of the Kuntala kingdom (7.5 yojanas in the North from Mahishmati) and the sister of the king of Kuntala. Bhallaladeva learns of Amarendra's attempts to woo Devasena and hatches a plot to drive a wedge between Amarendra and Sivagami by asking for Devasena's hand in marriage for himself. Sivagami, unaware that Amarendra is in love with Devasena, promises Devasena's hand in marriage to Bhallaladeva.</p></div></li>
</div>



</div>

</section>
  